{% extends 'base.html' %}

{% load static %}

{% block title %}
Página de Detalhes da Notícia
{% endblock %}

{% block content %}
<section class="news-detail">
    <h1 class="news-title">{{ new.title }}</h1>
    <p class="news-content">{{ new.content }}</p>
    <span class="news-author">{{ new.author }}</span>
    {% if new.image %}
    <img src="{% static new.image.url %}" alt="{{new.title}}">
    {% endif %}
    <span class="news-date">{{new.created_at|date:"d/m/Y"}}</span>
    {% for categorie in categories %}
    <span class="news-categories">{{ categorie }}</span>
    {% endfor %}
</section>
    {% endblock %}